@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    height: 100vh;
    width: 100vw;
}
body{
    background-image: url('imagens/fundo-madeira.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*#img2{
    position: absolute;
    transform: translate(-50%, 35%);
    height: 62vh;
   
}*/

div > img{  
    position: absolute;
   height: 80vh;
   display: inline-block;
   margin: auto;
   left: 50%;
   transform: translate(-50%, 15%);
}

#home{
    position: absolute;
   text-align: right;
   height: 7vh;
}
 section iframe{
    position: relative;
    display: block;
    margin: auto;
    top: 150px;
    left: 22px;
    width: 250px;
    height: 450px;

   
   
  ;
}

